{% extends "jar/base.html" %}
{% block header %}
<div class='jumbotron'>
  <h1>Track your learning.</h1>
</div>
{% endblock header %}
{% block content %}
<h2>
  {% if user.is_authenticated %}
    <a href="{% url 'jar:topics' %}"> Your Topics</a> are waiting for you.
  {% else %}
    <a href="{% url 'users:register' %}"> Register an account</a> to make your own jar of Journals.
  {% endif %}
</h2>
<h2>
This is a jar of all the journals which will always remain with you. List out the topics and fill it with all the information you have.
</h2>
{% endblock content %}